@import "../colors.scss";
.horizontalSectionLayout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content:center;
    padding: 0.3rem;
    align-self: stretch;
   
    
    
}
.verticalSectionLayout{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5rem;
    
    
    box-shadow: inset 0.1rem 0.5rem $light-shadow-neg $dark-shadow-pos;
}
.main{
    
    box-shadow: 0.1rem 0.1rem inset $dark-shadow-pos; 
    padding: 1rem;
}
html{
    background-color: red;
    box-shadow: 0.1rem 0.1rem inset $dark-shadow-pos; 
    color: white;
}