$light-background: rgb(221, 221, 221);
$light-shadow-neg:rgb(160, 160, 160);
$light-shadow-pos: rgba(235, 235, 235, 0.575);
$light-primary-background: rgba(7, 0, 17, 0.61);
$light-primary: rgb(111, 0, 255);

$dark-background: rgba(12, 12, 12, 0.788);
$dark-shadow-neg: rgba(5, 5, 5, 0.767);
$dark-shadow-pos: rgba(20, 20, 20, 0.76);
$dark-primary: rgb(30, 255, 0);
$dark-primary-background: rgba(2, 17, 0, 0.664);

