@import "./colors.scss";
html{
    font-family:Verdana, Geneva, Tahoma,  sans-serif;
    background-image: url('../images/pexels-markus-spiske-1089438.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: round;
    line-height:1.3rem;
    text-transform: uppercase;
    background-color: $dark-shadow-neg;
    box-sizing:border-box;
    btn{
        cursor: pointer;
    }
    a{
        cursor: pointer;
        text-decoration: none;
    }
    span{
        color: $dark-primary;
        font-size: 0.9rem;
        font-weight: 900;
    }

}
@keyframes CardHover{
    0%{
        border: solid $dark-primary 0.05rem;
        box-shadow: 0rem 0rem 0.5rem $dark-primary; 
    }
    
    100%{
        box-shadow: 0rem 0rem 0.5rem $light-primary;
        border: solid $light-primary 0.05rem;
    }
}

.profileDashboard{

    background-color: $dark-primary-background;
    height: fit-content;
    align-self:center;
    text-align:center;
    
    .basicProfileInfoContainer:hover{
        border: solid $light-primary 0.05rem;
        animation: CardHover 0.7s;
        z-index: 10;
        color: $light-primary;
        background-color: $light-primary-background;
        box-shadow: 0rem 0rem 0.5rem $light-primary;

    }
}

.basicProfileInfoLayout{
    display:flex;
    flex-direction:column;
    width: 100%;
    border: solid $dark-primary 0.05rem;
    box-shadow: 0rem 0rem 0.5rem $dark-primary;
    
}
.profileRow{
    display:flex;
    flex-direction:row;
    
    justify-content: stretch;
    width:100%;
}
.technicalTraitsContainer{
    display:grid;
    grid-template-rows: repeat(2, 20rem [row-start]);
    grid-template-columns: repeat(3, auto [col-start]);
    
    .technicalTraitProfileCard:hover{
        border: solid $light-primary 0.05rem;
        animation: CardHover 0.7s;
        z-index: 10;
        color: $light-primary;
        background-color: $light-primary-background;
        box-shadow: 0rem 0rem 0.5rem $light-primary;
    }
    .technicalTraitProfileCard{
        display: flex;
        flex-direction: column;
        justify-content:center;
        border: solid $dark-primary 0.05rem;
        box-shadow: 0rem 0rem 0.5rem $dark-primary;
        padding: 0rem 1rem;
        height: auto;
        
        
        
        
    }

    
    
    
}
.bioProfileLayout{
    display:flex;
    flex-direction:row;
    width:100%;
    flex-wrap: 3fr;
 
    .bioProfileCard:hover{
        border: solid $light-primary 0.05rem;
        animation: CardHover 0.7s;
        z-index: 10;
        color: $light-primary;
        background-color: $light-primary-background;
        box-shadow: 0rem 0rem 0.5rem $light-primary;
    }
    .bioProfileCard{
        min-width: 20rem;
        border: solid $dark-primary 0.05rem;
        box-shadow: 0rem 0rem 0.5rem $dark-primary;
        width: 100%;
        padding: 1rem;
        overflow-y: scroll;
    }
}




.basicProfileInfoContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    border: 0.01rem $dark-shadow-neg solid;
    padding:0.3rem;
}
.Label{
    
    text-transform:uppercase;
    border-bottom: 0.01rem $dark-primary solid;
    
    color: $dark-primary;
    padding:0.5rem 0.7rem;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
   

    
    text-align:center;
    align-self:center;
}
.labelValue{
    font-size:0.8rem;
    letter-spacing:0.2rem;
    font-weight: 200;
    color: $dark-primary;
    text-transform:uppercase;
}
.boxTitle{
    font-size:1.1rem;
    text-transform: uppercase;
    color: $light-primary;
    padding:0.3rem;
    
}
.boxDescription{
    font-size: 0.7rem;
    color: $dark-primary;
    letter-spacing:0.2rem;
    padding: 0.3rem;
}
.techTraitIcon{

    align-self: center;
    align-content: center;
    text-align:center;
    align-items:center;
    color: $dark-primary;
    font-size:3rem;
    padding:0.5rem;

}
.socialCard{
    display:flex;
    flex-direction:row;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding:0.5rem;
    align-self: center;
    
}
.socialIcon{
    color: $dark-primary;
    font-size: 1.5rem;
    text-align:center;
    padding: 0.3rem;
    
}
@keyframes SocialIcon{
    0%{
        color: $dark-primary;
   
    }
    100%{
        color: $light-primary;
     
    }
}
.socialIcon:hover{
    color: $light-primary;
    animation: SocialIcon 0.7s;
    

}

/* Projects Section





*/
@keyframes projectCardHover{
    0%{
        border: solid $dark-primary 0.05rem;
        width:25%;
        box-shadow: 0rem 0rem 0.5rem $dark-primary;
    }
    100%{
        box-shadow: 0rem 0rem 0.5rem $light-primary;
        border: solid $light-primary 0.05rem;
        width:50%;
    }

}
.projectSectionContainer{
    display:flex;
    flex-direction: row;
    padding: 1rem 0.5rem;
    margin-right:0rem;
    right:0rem;
    
    overflow-x: scroll;
    border: 0.1rem solid $dark-primary;
    box-shadow: 0rem 0rem 0.5rem $dark-primary;
    
    
    .projectCard:hover{
        border: solid $light-primary 0.05rem;
        animation: projectCardHover 0.5s;
        z-index: 10;
        color: $light-primary;
        background-color: $light-primary-background;
        box-shadow: 0rem 0rem 0.5rem $light-primary;
        width: 50%;
    }
    
}
.projectCard{
    background-color: $dark-primary-background;
    display:flex;
    flex-flow: column nowrap;
    border: 0.05rem solid $dark-primary;
    overflow-x: clip;
    padding-bottom:1rem;
    width:25%;
    min-width:25%;
    height: 20rem;
    overflow-y:scroll;
    box-shadow: 0rem 0rem 0.5rem $dark-primary;
    z-index:5;
    
}

@keyframes btnHover{
    0%{
        box-shadow: 0rem 0rem 0.5rem;
    }
    100%{
        box-shadow: 0rem 0rem 1.5rem;
    }
}
.cardButtonDiv{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    .githubRepoBtn{
        background-color: $dark-primary-background;
        border: 0.05rem solid $dark-primary;
        padding: 0.4rem;
        color: $dark-primary;
        font-size: 0.6rem;
        font-weight: 500;
        animation: btnHover 0.5s reverse;
        box-shadow: 0rem 0rem 0.5rem $dark-primary;

    }
    .githubRepoBtn:hover{
        animation: btnHover 1s;
        box-shadow: 0rem 0rem 1.5rem $dark-primary;
    }
    .viewProjectBtn{
        background-color: $light-primary-background;
        padding: 0.4rem;
        animation: btnHover 0.5s reverse;
        color: $light-primary;
        font-size: 0.6rem;
        font-weight: 500;
        border: 0.05rem solid $light-primary;
        box-shadow: 0rem 0rem 0.5rem $light-primary;
    }
    .viewProjectBtn:hover{
        animation: btnHover 1s;
        box-shadow: 0rem 0rem 1.5rem $light-primary;
    }
}
.cardTitleDiv{
    display:flex;
    flex-flow: column nowrap;
    text-align: center;
    background-color: $dark-shadow-pos;
    border-bottom: 0.05rem black solid;
    width:100%;
    margin-top:0rem;
    height: max-content;
    padding:0.8rem 1rem;
    border-bottom: 0.05rem solid $dark-primary;
    
}
.cardTitle{
    letter-spacing:0.1rem;
    font-size:0.8rem;
    font-weight:500;
    color: $dark-primary;
    align-self:center;
    text-align:center;
}

.cardDescriptionDiv{
    display:flex; 
    flex-flow: column nowrap;
    padding: 1rem;
    btn{
        padding: 0.4rem 0.6rem;
        letter-spacing:0.1rem;
        font-size:0.5rem
    };

}
.cardCollapsibleTree{
    display:flex;
    flex-flow: column nowrap;
    padding:1rem;
}
.cardFeaturesDiv{
    display: flex;
    flex-flow: column nowrap;
    padding:1rem;

}
.cardEntryDiv{
    list-style: decimal;
    padding:1rem;

}
.cardEntryValue{
    color: $light-background;
    letter-spacing:0.2rem;
    font-size:0.7rem;
}
.cardStackDiv{
    display: flex;
    flex-flow: column nowrap;
    padding:1rem;
}
.cardCapabilitiesDiv{
    display: flex;
    flex-flow: column nowrap;
    padding:1rem;
}






/*Capabilities Section*/
.tabComponent{
    display: flex;
    flex-flow: row nowrap;
    width:100%;
    height: 20rem;
    
    background-color:$dark-primary-background;
    box-shadow: 0rem 0rem 0.5rem $dark-primary;
    
    

    .tabNavDiv{
        display:flex;
        border: 0.05rem solid $dark-primary;
        z-index:5;
        text-align:center;
        width: 25%;
        justify-content:center;
        box-shadow: 0rem 0rem 0.5rem $dark-primary;
    }
    .tabNavDiv:hover{
        border: 0.05rem solid $light-primary;
        box-shadow: 0rem 0rem 1rem $light-primary;
        background-color: $light-primary-background;
    }
    
    
}

.tabNavList{
    display:flex;
    flex-flow: column nowrap;
    padding: 0.5rem;
    justify-content: space-between;
    text-align:center;
    .tabNavBtn:hover{
       
        color: $light-primary;
    }
    .tabNavBtn:focus{
   
        color: $light-primary;
    }
}
.tabNavBtn{
    display:flex;
    padding: none;
    color: $light-background;
    font-size: 0.6rem;
    font-weight: 800;
    text-align:center;
 
    border-bottom: 0.05rem transparent $dark-primary;

}

.tabContentDiv{
    display:flex;
    position:relative;
    border: 0.05rem solid $dark-primary;
    text-align:center;
    justify-content: center;
    width: 100%;
    z-index: 5;
    overflow-y: scroll;
    box-shadow: 0rem 0rem 0.5rem $dark-primary;

}
.tabContentSubDiv{
    display:flex;
    flex-flow: column nowrap;
    position:relative;
    padding: 1rem 0.5rem;
    
    h1{
        @extend .Label;
    }
    h2{
        font-size: 0.8rem;
        
    }
    div{
        display: flex;
        flex-flow: column nowrap;
        text-align:center;
        justify-content: center;
    }
}





/* Tech Section */

.techCard{
    display:flex;
    flex-flow: row nowrap;
    width: max-content;
}
.labelValueTwo{
    font-size:0.7rem;
    letter-spacing:0.05rem;
    color: $light-background;
    text-transform:uppercase;

}
.textLogoDiv{
    display:flex;
    flex-flow: row nowrap;
}
.techCategoriesDiv{
    display:flex;
    flex-flow: row nowrap;
    text-align:center;
    justify-content: space-between;
    
    background-color: $dark-primary-background;
    padding: 1rem 2rem;
    border: 0.05rem solid $dark-primary;
    box-shadow: 0rem 0rem 0.5rem $dark-primary;
    h4{
        @extend .Label;
    }
    
}





/* Navigation */
.metaNavDiv{
    display:flex;
    justify-content:center;
    width: 100%;
    margin:0rem;
    background-color:$dark-shadow-neg;
    border:0.05rem solid $light-primary;
    box-shadow: 0rem 0rem 0.5rem $light-primary;
    overflow: hidden;
    position: fixed;
    z-index:11;
    top: 0rem;
   
}
.navBarDiv{
    display:flex;
    flex-flow: row nowrap;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    
   
}
.navEntry{
    display:flex; 
    flex-flow: row nowrap;
    list-style:none;
    padding:0.8rem;
   
    
}
@keyframes navHover{
    0%{
        color: $light-primary;
        border-bottom: 0.05rem transparent;

    }
    100%{
        color: $dark-primary;
        border-bottom: 0.05rem solid $dark-primary;
    }
}
.navEntryTitle:focus, .navEntryTitle:hover{
    border-bottom: 0.05rem solid $dark-primary;
    color: $dark-primary;
    animation: navHover 1s;
}
.navEntryTitle{
    color: $light-primary;
    letter-spacing:0.1rem;
    padding:0.5rem;
    font-size: 0.8rem;
    text-decoration:none;

}
.navEntryTitleActive{
    @extend .navEntryTitle;
    color: $dark-primary;
}

















/* Responsive Design */
@media screen and (max-width: 800px) {
    .projectSectionContainer{
        flex-direction: column;
        overflow-y: scroll;
        height: stretch;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 1rem 4rem;
        flex-wrap: nowrap;
        
        
        
    }   
    .projectCard{
        width: 100%;
        height: 20rem;
        min-width: 100%;
        min-height: 20rem;
        overflow-y: scroll;
        display: flex;
        flex-flow: column nowrap;
        align-self: center;
    }
    .socialCard{
        display: grid;
        grid-template-rows: repeat(2, max-content [row-start]);
        grid-template-columns: repeat(2,50% [col-start]);
        grid-gap: 1rem;
    }
    
    .technicalTraitsContainer{
        display:grid;
        padding : 1rem 0rem;
        grid-template-rows: repeat(2, auto [row-start]);
        grid-template-columns: repeat(2, 50% [col-start]);
        overflow-y: scroll;
    
        .technicalTraitProfileCard:hover{
            border: solid $light-primary 0.05rem;
            animation: CardHover 0.7s;
            z-index: 10;
            color: $light-primary;
            
            background-color: $light-primary-background;
            box-shadow: 0rem 0rem 0.5rem $light-primary;
        }
        .technicalTraitProfileCard{
            overflow-y: scroll;
            padding: 1rem;
            justify-content: none;
            .labelValue{
                height: 10rem;
                overflow-y: scroll;
            }
        }
        
        
        
        
    }
    .bioProfileLayout{
        display:flex;
        flex-direction:column;
        min-width: 0rem;
        width: 100%;

       
        .bioProfileCard:hover{
            border: solid $light-primary 0.05rem;
            animation: CardHover 0.7s;
            z-index: 10;
            color: $light-primary;
            background-color: $light-primary-background;
            box-shadow: 0rem 0rem 0.5rem $light-primary;
        }
        .bioProfileCard{
            min-width: 10rem;
            padding: 0rem;
            padding-top: 0.5rem;
            padding-bottom:0.5rem;
            width: 100%;
            height: auto;
           
        }
        
    }
    .basicProfileInfoContainer{
        display:flex;
        flex-direction: column;
        justify-content: center;
        
        align-items: center;
        border: 0.01rem $dark-shadow-neg solid;
        padding:0.3rem;
    }
    
    
    
    .basicProfileInfoLayout{
        display:flex;
        flex-direction:row;
        width: stretch;
        border: solid $dark-primary 0.05rem;
        box-shadow: 0rem 0rem 0.5rem $dark-primary;
        justify-content: space-between;
    }
    .profileRow{
        display:flex;
        flex-direction:column;
        
        justify-content: stretch;
        width:100%;
    }
    .labelValueTwo{
        font-size:0.5rem;
        letter-spacing:none;
        color: $light-background;
        text-transform:uppercase;
    
    }
    .techCard{
        h4{
            font-size:0.6rem;
            width: fit-content;
        }
    }
    .techCategoriesDiv{
        display: grid;
        grid-template-rows: repeat(2, max-content [row-start]);
        grid-template-columns: repeat(2,50% [col-start]);
        grid-gap: 1rem;
    }
    .navBarDiv{
        width: auto;
    }
    .navEntry{
        padding: 0.5rem;
    }
    .navEntryTitle{
        font-size: 0.6rem;

    }
  }

