@import "../components/colors.scss";
.divider{
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: $dark-primary;
    font-weight: 300;
    font-size: 0.9rem; 
    letter-spacing: 0.5rem;
    

}
#profileDivider{
    margin-top: 5rem;
}