@import "../colors.scss";

.portfolio-intro{
    text-align:center;
    h1{
        letter-spacing:0.3rem;
        font-weight:300;
        font-size: 1rem;
        color:red;
    }
    span{
        font-weight:900;
        font-size: 1.5rem;
        
    }
    
}
